* {
    margin: 0;
    padding: 0;
}
body { 
    font-family: cursive;    
}

.navbar {
    background-color: rgb(159,197,248);
    margin-bottom: 20px;
}

.nav {
    margin: 0 auto;
    color: white;
    font-size: 1.5rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 30px;
}

.nav-title {
    margin-left: 20px;
}
.container {
    margin: 0 auto;
    width: 1080px;
}

.top {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    font-size: 1.5rem;
}

select {
    padding: 0px 20px;
    margin: 10px 0px;
    font-family: cursive;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
}

.row {
    display: flex;
    justify-content: space-between;
}
.weather {
    background-color: rgb(238,238,238);
    text-align: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    margin: 30px 0px 10px 0px;
    padding: 20px;
}
.weather-img {
    border-radius: 50%;
    height: 200px;
    margin: 30px 0px;
}
.degs {
    display: flex;
    justify-content: space-between;
    margin: 25px 25px 15px 25px;
    font-size: 1.3rem;
    font-weight: bold;
}
.red-deg {
    color: red;
}
.blue-deg {
    color: blue;
}
.cookie-time {
    background-color: rgb(238,238,238);
    border: 3px solid black;
    display: inline-flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 5px;
}
#cookie-img {
    height: 100px;
    margin: 20px;
}
.text-of-cookie {
    margin: 20px 30px 0px 15px;
}
#btn {
    background-color: lightskyblue;
    padding: 10px 50px;
    margin: 50px;
    font-size: larger;
    font-weight: bold;
    font-family: cursive;
    white-space: nowrap;
    box-shadow: 5px 6px 10px black;
    cursor: pointer;
}