.search {
    border: 2px solid #34A9AA;
    border-radius: 50px;
    padding: 5px 30px;
    color: #34A9AA;
    background-color: #F5F5F5;
}
.plus{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: #00D1B2;
    border: 0px;
}
.create {
    border: 2px solid black;
    padding: 7px 50px;
    background-color: blueviolet;
    color: white;
    box-shadow: 5px 5px 5px black;
}