* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}

.nav-container{
    background-color: rgb(51, 52, 50);
}

.nav {
    width: 1080px;
    margin: 0 auto;
    color: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

.nav-title {
    margin-left: 20px;
}


.btn {
    background-color:blueviolet;
    padding: 4px 20px;
}
